<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Welcome to the Profile of <%= person %></h3>    <!-- Accessing the dynamic data in ejs using '<% %>' -->
    <p><strong>Age : </strong><%= data.age %></p>
    <p><strong>Job : </strong><%= data.job %></p>
    <p><strong>Hobbies : </strong></p>
    <ul>
      <% data.hobbies.forEach(function(item){  %>
          <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>
